@implements IDisposable
@inject NavigationManager NavigationManager

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="/NavMenu.css">

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand event-sync-pearlescent" href="">EventSync</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white fw-bold" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white fw-bold" href="/events">
                <i class="fas fa-calendar-alt me-3" style="font-size: 1.2rem;" aria-hidden="true"></i> Event
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <AuthorizeView Roles="Administrator" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="categories">
                        <i class="fas fa-list-alt me-3" aria-hidden="true"></i> Category
                    </NavLink>
                </div>
                </AuthorizeView>
                <AuthorizeView Roles="Administrator" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="/eventmodels">
                        <i class="fas fa-plus-circle me-3" style="font-size: 1.2rem;" aria-hidden="true"></i> Create Event
                    </NavLink>
                </div>
                </AuthorizeView>
                <AuthorizeView Roles="Administrator" Context="innerContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link text-white fw-bold" href="registrations">
                            <i class="fas fa-clipboard-list me-4" aria-hidden="true"></i> Registrations
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="Administrator" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="/purchase-history">
                        <i class="fas fa-box-open me-3" style="font-size: 1.2rem;" aria-hidden="true"></i> Purchases
                    </NavLink>
                </div>
                </AuthorizeView>
                <AuthorizeView Roles="Administrator" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="statuses">
                        <i class="fas fa-check-circle me-3" aria-hidden="true"></i> Status
                    </NavLink>
                </div>
                </AuthorizeView>
                <AuthorizeView Roles="Administrator" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="users">
                        <i class="fas fa-users me-3" aria-hidden="true"></i> User
                    </NavLink>
                </div>
                </AuthorizeView>
                <AuthorizeView Roles="Administrator" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="venues">
                        <i class="fas fa-map-marker-alt me-3" aria-hidden="true"></i> Venue
                        </NavLink>
                </div>
                </AuthorizeView>
                <AuthorizeView Roles="User" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="/events">
                        <i class="fas fa-calendar-alt me-3" style="font-size: 1.2rem;" aria-hidden="true"></i> View Events
                    </NavLink>
                </div>
                </AuthorizeView>
                <AuthorizeView Roles="User" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="/payment">
                        <i class="fas fa-credit-card me-3" style="font-size: 1.2rem;" aria-hidden="true"></i> Payment
                    </NavLink>
                </div>
                </AuthorizeView>
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="/purchase-history">
                        <i class="fas fa-box-open me-3" style="font-size: 1.2rem;" aria-hidden="true"></i> Purchase History
                    </NavLink>
                </div>
                <AuthorizeView Roles="User" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="/my-tickets">
                        <i class="fas fa-ticket-alt me-3" style="font-size: 1.2rem;" aria-hidden="true"></i> My Tickets
                    </NavLink>
                </div>
                </AuthorizeView>
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="/event-history">
                        <i class="fas fa-calendar-check me-3" style="font-size: 1.2rem;" aria-hidden="true"></i> Event History
                    </NavLink>
                </div>
                <AuthorizeView Roles="User" Context="innerContext">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="/discount-vouchers">
                        <i class="fas fa-tags me-3" style="font-size: 1.2rem;" aria-hidden="true"></i> Discount Vouchers
                    </NavLink>
                </div>
                </AuthorizeView>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white fw-bold" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}
