@page "/registrations"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using EventRegistrationApplication.Domain
@using EventRegistrationApplication.Data
@implements IAsyncDisposable
@inject IDbContextFactory<EventRegistrationApplication.Data.EventRegistrationApplicationContext> DbFactory
@rendermode InteractiveServer

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Registrations</PageTitle>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Registrations</h1>
        <a class="btn btn-primary" href="registrations/create">Create New</a>
    </div>

    <div class="table-responsive">
        <QuickGrid Class="table table-striped table-hover" Items="context.Registration" Pagination="paginationState">
            <PropertyColumn Property="registration => registration.UserId" Title="User ID" Sortable="true" />
            <PropertyColumn Property="registration => registration.EventId" Title="Event ID" Sortable="true" />
            <PropertyColumn Property="registration => registration.RegistrationDate" Title="Registration Date" Sortable="true" />
            <PropertyColumn Property="registration => registration.SeatsReserved" Title="Seats Reserved" Sortable="true" />
            <PropertyColumn Property="registration => registration.DateCreated" Title="Date Created" Sortable="true" />
            <PropertyColumn Property="registration => registration.DateUpdated" Title="Date Updated" Sortable="true" />
            <PropertyColumn Property="registration => registration.CreatedBy" Title="Created By" Sortable="true" />
            <PropertyColumn Property="registration => registration.UpdatedBy" Title="Updated By" Sortable="true" />

            <TemplateColumn Context="registration">
                <div class="d-flex">
                    <a class="btn btn-sm btn-warning me-2" href="@($"registrations/edit?registrationid={registration.RegistrationId}")">Edit</a>
                    <a class="btn btn-sm btn-info me-2" href="@($"registrations/details?registrationid={registration.RegistrationId}")">Details</a>
                    <AuthorizeView Roles="Administrator">
                        <a class="btn btn-sm btn-danger" href="@($"registrations/delete?registrationid={registration.RegistrationId}")">Delete</a>
                    </AuthorizeView>
                </div>
            </TemplateColumn>
        </QuickGrid>

        <Paginator State="paginationState" />
    </div>
</div>

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 10 };

    private EventRegistrationApplicationContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
