@page "/statuses/create"
@using Microsoft.EntityFrameworkCore
@using EventRegistrationApplication.Domain
@inject IDbContextFactory<EventRegistrationApplication.Data.EventRegistrationApplicationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Status</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Status" OnValidSubmit="AddStatus" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="statusname" class="form-label">StatusName:</label> 
                <InputText id="statusname" @bind-Value="Status.StatusName" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Status.StatusName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Status.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Status.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Status.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Status.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Status.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Status.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Status.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Status.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/statuses">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Status Status { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddStatus()
    {
        using var context = DbFactory.CreateDbContext();
        context.Status.Add(Status);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/statuses");
    }
}
